@font-face {
  font-family: "Poppins";
  src: url("Poppins-Black.ttf");
}

* {
  font-family: Poppins, normal;
}

body {
  background-color: #1a0129;
  color: white;
  margin: 0;
}

.name,
.home,
.education,
.iah,
.contact-me,
.student,
.bar {
  color: white;
  text-decoration: none;
  display: inline-block;
  list-style-type: none;
  font-size: 15px;
  margin-left: 20px;
  height: fit-content;
  min-width: min-content;
}
.bar {
  margin-left: 20px;
  color: rgba(190, 189, 189, 0.744);
  font-size: 20px;
}
.name {
  font-size: 35px;
  padding-top: 10px;
  color: #7338a0;
}
.home {
  display: inline-block;
  margin-left: 170px;
  padding: 0 10;
  height: fit-content;
  width: min-content;
  position: relative;
}
.home:hover,
.education:hover,
.iah:hover,
.contact-me:hover,
.student:hover {
  color: #7338a0;
  cursor: pointer;
}
.main-section,
.education-section,
.iah-section,
.contactme-section,
.footer-section {
  margin-bottom: 50px;
  display: inline-block;
  height: fit-content(50%);
  width: 100%;
  padding-bottom: 10px;
  padding-left: 10px;
}
.image-section {
  position: relative;
  float: right;
  width: 450px;
  height: 450px;
  border-radius: 50%;
  margin-top: 75px;
  margin-right: 175px;
}
#image {
  height: 500px;
  width: 500px;
  border-radius: 50%;
}
.introduction-section {
  margin-left: 10px;
  float: left;
  margin-top: 75px;
  margin-left: 150px;
  text-align: center;
  width: 550px;
  height: 500px;
}
.intro-line-1,
.intro-line-2,
.intro-line-3 {
  text-align: left;
  padding-top: 50px;
  display: block;
  height: fit-content;
  width: fit-content;
  font-size: 60px;
  text-transform: capitalize;
}
.intro-line-2 {
  text-align: left;
  padding-top: 20px;
  font-size: 25px;
  display: block;
  height: 50px;
  width: 200px;
}
.intro-line-3 {
  text-align: left;
  font-size: small;
}
.education-section {
  margin-top: 45px;
  justify-items: center;
}
td,
table,
th,
tr {
  border: 2px solid white;
  border-collapse: collapse;
  text-align: left;
  width: fit-content;
  padding: 20px;
  color: white;
}

.school1,
.school2,
.school3 {
  text-decoration: none;
  color: white;
}

.school1:hover {
  cursor: pointer;
  color: rgb(1, 85, 1);
}

.school2:hover {
  cursor: pointer;
  color: rgb(0, 8, 227);
}
.school3:hover {
  cursor: pointer;
  color: rgb(7, 0, 146);
}
th {
  background-color: #212121c5;
}

.table-section > caption {
  color: #7338a0;
  margin-top: 50px;
  font-size: 40px;
  font-style: bold;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 30px;
}

.iah-section > p {
  display: block;
  text-align: center;
  font-size: 40px;
  color: #7338a0;
}
.iah-section1,
.iah-section2 {
  display: inline-flex;
  height: 440px;
  width: 100%;
  color: black;
  justify-content: center;
}
.iah1,
.iah2 {
  display: inline-flex;
  background-color: black;
  height: 400px;
  width: 400px;
  position: relative;
  margin: 0px 10px 0px 10px;
  color: white;
  border-radius: 20px;
  border: 3px solid #7338a0;
  justify-content: center;
}
.iah2 {
  border: 3px solid white;
}
.contactme-section > h4 {
  display: block;
  font-size: 30px;
  text-transform: normal;
  color: #7338a0;
  margin-bottom: -10px;
}
i {
  color: white;
  padding-left: 25px;
}
i:hover {
  color: pink;
}
form {
  float: right;
  border-radius: 5%;
  margin-right: 40px;
  padding: 10px;
  margin-top: -115px;
}
form > button {
  background-color: #5b23de;
  border-radius: 5px;
  margin-left: 20px;
  padding-left: 40px;
  padding: 10px 40px;
}
label {
  display: block;
  padding: 20px;
}
input {
  text-align: center;
  border-radius: 5%;
  background-color: rgba(128, 128, 128, 0.5);
  border: 1px solid rgba(128, 128, 128, 0.5);
  color: rgba(255, 255, 255, 0.451);
}
input[type="text"] {
  margin-left: 20px;
}
input[type="email"] {
  margin-left: 56px;
}
input[type="number"] {
  margin-left: 20px;
}
.footer_1 {
  float: left;
}
.footer_2 {
  margin-left: 65%;
}
